

@import "node_modules/bootstrap/scss/bootstrap";

.footer {
  	position: fixed;
  	bottom: 0;
  	width: 100%;
  	height: 60px;
  	line-height: 60px;
  	background-color: #f5f5f5;
}

.my-login{
	width:600px;
	height:auto;
	margin-top:50px;
	margin:auto;
}

.my-img{

	width:120px;
	margin:auto;
	display: block;
    margin-bottom: 14px;
}